*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    list-style: none;
}
li{
    list-style: none;
}
#footer{
    background:#eeeeee;
    height: 100px;
    line-height: 100px;
}
#footer li{
    float: left;
    font-size: 40px;
    padding-left: 130px;
}
#footer li a{
    color: #000;
}
#footer li a:hover{
    text-decoration: underline;
}
#footer .selected{
    color: lightcoral;
}