body{
    background-color: #eeeeee;
}
#header{
    height: 150px;
}
#header button{
    margin-top: 50px;
    width: 980px;
    height: 80px;
    font-size: 40px;
    background-color: white;
    border: 0;
    text-indent: -800px;
}
#first{
    height: 160px;
}
#first #wrap{
    background-color: white;
    position: relative;
    height: 100px;
}
#first .number{
    height: 40px;
    width: 40px;
    margin-left: 70px;
    margin-top: 30px;
}
#first span{
    font-size: 40px;
}
#first #arrows{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 400px;
}
#first #just{
    margin-left: 250px;
}
#content{
    background-color: white;
}
#content img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
}
#content span{
    font-size: 60px;
    margin-left: 180px;
}
#content button{
    background-color: lightcoral;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 100px;
    color: white;
    margin-top: 160px;
    margin-left: 380px;
}
#content #add{
    font-size: 46px;
    margin-top: 50px;
    margin-left: 360px;
}
#content #select{
    margin-top: 80px;
    font-size: 46px;
    background-color: #eeeeee;
}
#content label{
    display: inline-block;
    width: 980px;
    height: 100px;
    font-size: 40px;
    margin-top: 30px;
    position: relative;
}
#content input{
    margin-left: 900px;
    display: inline-block;
    margin-top: -100px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120px;
    right: 20px;
}
#next button{
    width: 980px;
    height: 100px;
    margin-top: 30px;
    background-color: lightcoral;
    border-radius: 20px;
    font-size: 46px;
    color: white;
}
#next img{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
#next #buy{
    font-size: 46px;
    display: inline-block;
    margin-top: 10px;

}
#next #detail{
    font-size: 50px;
    margin-left: 600px;
}
#next #two{
    background-color: white;
    margin-top: 15px;

}
